/ Content Header (Page header)
.main-content  
  %section.content-header
    %h1
      Dashboard
      %small Control panel
    %ol.breadcrumb
      %li
        %a{:href => root_path}
          %i.fa.fa-home
          Home
      %li
        %a{:href => admin_dashboard_home_path}
          %i.fa.fa-dashboard
          Dashboard
      %li.active Articles
  %section.box.box-default
    .box-body 
      .row
        .col-lg-12.blog-main
          .box.box-primary
            .blox-header.bg-light-blue
              .box-title
                = bootstrap_form_for([:admin, @article], inline_errors: false) do |f|                
                  %h3
                    = f.form_group :published, label: { text: "Published", id: 'published_label'} do
                      - if @article.published?
                        = f.radio_button :published, 1, label: " Yes", inline: true, checked: true
                        = f.radio_button :published, 0, label: " No", inline: true
                      - else  
                        = f.radio_button :published, 1, label: " Yes", inline: true
                        = f.radio_button :published, 0, label: " No", inline: true, checked: true
                      
                      = f.submit "Submit", :class => "btn btn-default btn-xs"            
            .blog-post
              .header
                %div#blog-status
                  .btn.btn-app.pull-right
                    %span.badge.bg-red #{@article.view_count}
                    %i.fa.fa-eye  
                    Views         
                  .btn.btn-app.pull-right
                    %span#like.badge.bg-purple #{@article.like}
                    %i.fa.fa-heart-o 
                    Likes 
                  .btn.btn-app.pull-right
                    %span.badge.bg-aqua #{@article.comments.size}
                    %i.fa.fa-comments-o
                    Comments
                %br      
                %h2 #{@article.title}
                %p.blog-post-meta 
                  %i.fa.fa-clock-o
                  #{@article.created_at.to_formatted_s(:long)} 
                  %i.fa.fa-user
                  #{@article.user.name}                 

              .box-body            
                %figure
                  = image_tag @article.image.url, :class => 'image_responsive'
                %p #{@article.content.html_safe}
              .box-footer    
                %span
                  %i.fa.fa-tag.fa-lg
                  - @article.tags.each do |tag|
                    = link_to tag.name, tag_path(tag), :class => 'label label-default'
                %hr
                %span #{link_to "<i class='fa fa-thumbs-o-up'></i>".html_safe, '#', :onclick => "like('#{@article.id}')", :class => "btn bg-maroon btn-circle pull-right", :id => 'like_it'} #{social_share_button_tag(@article.title, :url => request.original_url, :image => @article.image.url)}

          / Chat box
          - if @article.comments.any?
            .box.box-success
              .box-header
                %i.fa.fa-comments-o
                %h3.box-title Comments
              #chat-box.box-body.chat
                = render partial: 'comments/comment', collection: @article.comments

          %div
            = link_to "<i class='fa fa-trash-o'></i> Delete".html_safe, admin_article_path(@article), method: :delete, data: {confirm: "Really delete the article?"}, :class => "btn btn-default pull-right"
          %br    

    .box-footer
      = link_to '<i class="fa fa-arrow-circle-left"></i> Back'.html_safe, admin_articles_path, :class => 'btn btn-default'  