= bootstrap_form_for(@article, inline_errors: false) do |f|
  - if @article.errors.any?
    - @article.errors.full_messages.each do |msg|
      :javascript
        var msg = " #{msg} ";
        Command: toastr.error(msg);

  = f.text_field :title
  = f.text_area :content, :class => "redactor", :rows => 20, :cols => 120
  = f.text_field :tag_list, label: "Tags", help: "list each tag separated by comma (morning, day, night...)" 
  = f.file_field :image, label: "Attach an Image", accept: 'image/png,image/gif,image/jpeg'
  .input-group.margin
    %input#blog_image.form-control{:type => "text", :disabled => true}
    %span.input-group-btn 
      %a.btn.btn-success.btn-flat{:onclick => "$('input[id=article_image]').click();"} 
        Browse
  :javascript
    $('input[id=article_image]').change(function() {
      $('#blog_image').val($(this).val());
    });
  
  %hr
  = link_to 'Back to articles', articles_path, :class => "btn btn-default"
  = f.submit "Submit Article", :class => "btn btn-primary pull-right"