.row
  .col-lg-12.blog-main
    .box.box-primary
      .blog-post
        .header
          %div#blog-status
            .btn.btn-app.pull-right
              %span.badge.bg-red #{@article.view_count}
              %i.fa.fa-eye  
              Views         
            .btn.btn-app.pull-right
              %span#like.badge.bg-purple #{@article.like}
              %i.fa.fa-heart-o 
              Likes 
            .btn.btn-app.pull-right
              %span.badge.bg-aqua #{@article.comments.size}
              %i.fa.fa-comments-o
              Comments
          %br      
          %h2 #{@article.title}
          %p.blog-post-meta 
            %i.fa.fa-clock-o
            #{@article.created_at.to_formatted_s(:long)} 
            %i.fa.fa-user
            #{@article.user.name}                 

        .box-body            
          %figure
            = image_tag @article.image.url, :class => 'image_responsive'
          %p #{@article.content.html_safe}
        .box-footer    
          %span
            %i.fa.fa-tag.fa-lg
            - @article.tags.each do |tag|
              = link_to tag.name, tag_path(tag), :class => 'label label-default'
          %hr
          %span #{link_to "<i class='fa fa-thumbs-o-up'></i>".html_safe, '#', :onclick => "like('#{@article.id}')", :class => "btn bg-maroon btn-circle pull-right", :id => 'like_it'} #{social_share_button_tag(@article.title, :url => request.original_url, :image => "http://my-blogger.elphax.com"+@article.image.url, desc: strip_tags(HTML_Truncator.truncate(@article.content, 25, "...") ))}

    / Chat box
    - if @article.comments.any?
      .box.box-success
        .box-header
          %i.fa.fa-comments-o
          %h3.box-title Comments
        #chat-box.box-body.chat
          = render partial: 'comments/comment', collection: @article.comments

    / /.box (chat box)
    / quick email widget
    .box.box-info
      .box-header
        %i.fa.fa-comment-o
        %h3.box-title Leave a comment
      .box-body
        = render partial: 'comments/form'

    %div
      = link_to '<i class="fa fa-arrow-circle-left"></i> Back'.html_safe, articles_path, :class => "btn btn-default"
      - if current_user && @article.user_id == current_user.id 
        = link_to "<i class='fa fa-trash-o'></i> Delete".html_safe, article_path(@article), method: :delete, data: {confirm: "Really delete the article?"}, :class => "btn btn-default"
    %br    
