= form_for @user do |f|
  - if @user.errors.any?
    %ul
      - @user.errors.full_messages.each do |msg|
        %li= msg
  .field
    = f.label :name, "Full Name"
    %br/
    = f.text_field :name
  .field
    = f.label :email
    %br/
    = f.email_field :email  
  .actions
    = f.submit
