!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
  %body.container
    %h3 Hello Administrator!
    %br
    %p.text-light-blue There was a recent submission to the MyBlogger Site which needs your approval in order to publish this blog.
    .box.box-primary
      .box-header
        %h3.box-title #{@article.title} 
      .box-body
        %figure
          = image_tag "http://my-blogger.elphax.com/#{@article.image.url}", :class => 'image_responsive'
        %p #{@article.content.html_safe} 
        %hr
        %p Please login #{link_to 'MyBlogger Administration', 'http://my-blogger.elphax.com/admin/dashboard/home'} to manage blogs.    
      .box-footer
        %p Thank you!